*{
    box-sizing: border-box;
}


.Login-page{
    background: #F8F5F5;
    background-repeat:no-repeat;
    background-size:contain;
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content:space-between;
}


.login{
    background-color: yellow;
    margin: 20% auto 5% auto; 
    padding: 20px;
    text-align: center;
    top: 60%;
    right: 65%;
    width: 20%;
    height: 20vh;
}

.zlatnirat{
    width: max-content;
}
/* 
.register{
} */