*{
    box-sizing: border-box;
}


body{
    background-color: lightgray;
}


.login{
    background-color: yellow;
    margin: 20% auto 5% auto; 
    padding: 20px;
    text-align: center;
    top: 60%;
    right: 65%;
    width: 20%;
    height: 20vh;
}

.zlatnirat{
    padding-top: 45%;
    position: relative;
}
/* 
.register{
} */