*{
    box-sizing: border-box;
}


.Login-page{
    background: #F8F5F5;
    background-repeat:no-repeat;
    background-size:contain;
    height: 100vh;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    box-shadow: 15px 4px 45px rgba(0, 0, 0, 0.25);
}


.login{
    background-color: yellow;
    
    margin: 0; 


    

    padding: 266px 120px;
    
    text-align: center;
    
    right: 0;
    height: 100vh;
    
}

.zlatnirat{
    
margin: 0;
    
   height: 100vh;
   
    
    /*
    height: 50% ;
    */
}
/* 
.register{
} */