*{
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Roboto","sans-serif"; 
    background: #F8F5F5 url('Pictures/bg-page.svg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

/* Navigation */

.nav-container{
    height: 75px;
    background-color: yellow;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav .logo {
    width: 302px;
    height: 53px;
}

.nav-items li {
    list-style: none;
    margin-right: 100px;
    margin-top: 12px;
}

.nav-items li:nth-last-of-type(1) {
    margin: 0;
    background: #F8F5F5;
    border-radius: 20px;
    padding: 12px 48px;
    display: inline-block;
    transition: 300ms;
}

.nav-items li:nth-last-of-type(1):hover {
   transform: translateY(-3px);
}

.nav-items li a {
    color: #000000;
    font-size: 24px;
    font-family: "Poppins","sans-serif";
    text-decoration: none;
}

/* Header */

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

header h1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 144px;
    color: #000000;
}

header p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #016B7F;
}

span {
    color: #016B7F;
}

header .intro-content {
    width: 50%;
}

header .intro-image {
    width: 50%;
}

header .intro-image img {
    width: 100%;
}

.explore {
    font-family: "Poppins";
    font-style: normal;
    font-weight: bold;
    text-align: center;
}

.destination {
    font-size: 24px;
    line-height: 36px;
    color: #016B7F;
}

h2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 84px;
    color: #000000;
}

.mapdiv {
    
}