*{
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Roboto","sans-serif"; 
    background-color:  #F8F5F5 ;
    background-size: contain;
}

/* Navigation */

.nav-container{
    height: 75px;
    background: #016a7f7c;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;

}

nav ul {
    display: flex;
    flex-direction: row;
}

nav .logo {
    width: 302px;
    height: 53px;
}

.nav-items li {
    list-style: none;
    margin-right: 100px;
    margin-top: 12px;
}

.nav-items li:nth-last-of-type(1) {
    margin: 0;
    background: #F8F5F5 ;
    border-radius: 20px;
    padding: 12px 48px;
    display: inline-block;
    transition: 300ms;
}

.nav-items li:nth-last-of-type(1):hover {
   transform: translateY(-3px);
}


.nav-items li a {
    color: #000000;
    font-size: 24px;
    font-family: "Poppins","sans-serif";
    text-decoration: none;
}

/* Header */

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

header h1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 144px;
    color: #000000;
}

header p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #016B7F;
}

span {
    color: #016B7F;
}

header .intro-content {
    width: 50%;
}

header .intro-image {
    width: 50%;
}

header .intro-image img {
    width: 100%;
}

.explore {
    font-family: "Poppins";
    font-style: normal;
    font-weight: bold;
    text-align: center;
}

.destination {
    font-size: 24px;
    line-height: 36px;
    color: #016B7F;
}

h2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 84px;
    color: #000000;
}

/* Karta */

.mapdiv {
    width: 100%;
    height: 700px;
    margin-top: 20px;
    margin-bottom: 70px;
}

.mapdiv svg {
    background: #FFFAFA;
    border: 3px solid #857b7b;
}

.mapdiv path {
    fill:#016B7F;
    stroke: black;
    stroke-width: 1px;
    transition: fill 1ms;
}

.mapdiv :hover {
    fill:rgba(255, 255, 0, 0.733);
}

#how {
    font-family: "Poppins";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #016B7F;
}

.about-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about-info {
    width: 40%;
}

.about-info p {
    margin-top: 20px;
    font-family: "Poppins";
    font-style: italic;
    font-weight: normal;
    font-size: 35px;
    line-height: 52px;
    color: #000000;
    text-align:left ;
}

.about-image {
    width: 60%;
}

.about-image img {
    width: 100%;
}

#con {
    font-family: "Poppins";
    font-style: italic;
    font-weight: normal;
    font-size: 35px;
    line-height: 52px;
    color: #000000;
    margin-bottom: 60px;
}
/* Social Icons */

.social-icons {
    margin-top: 40px;
    margin-bottom: 50px;
}

.social-icons a {
    margin-right: 30px;
}

.social-icons img:hover{
    transform: translateY(-5px);
}

/* Footer */

footer {
    font-family: "Poppins";
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    padding: 0.5em;
    text-align: center;
    position:static;
    bottom: 0;
    left: 0;
    right: 0;
}