*{
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Roboto","sans-serif"; 
    background-color:  #F8F5F5 ;
    background-size: contain;
}

/* Navigation */

.nav-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #016a7f7c;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

.wrappern {
    max-width: 1920px;
    padding: 0 40px;
    margin: auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*color: black;*/
    height: 75px;
}

.nav a {
    color: white;
}

.nav-items {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.nav-items li ~ li {
    margin-left: 40px;
    list-style: none;
}

.nav-items  a {
    color: #000000;
    font-size: 24px;
    font-family: "Poppins","sans-serif";
    text-decoration: none;
}

.nav-items a:hover {
    font-weight: bold;
}

.nav-btn-logout {
    background: #F8F5F5;
    border-radius: 20px;
    padding: 12px 48px;
    transition: 300ms;
}


.nav-btn-logout:hover {
   transform: translateY(-3px);
}

/* Search Box*/

.search-box {
    width: calc(100vw - 250px);
    margin:auto;
    text-align: right;
    position: fixed;
    top: 0;
    transition: 300ms;
    z-index: 3;
    visibility: hidden;
}

.search-box.active {
    top: 75px;
    visibility: visible;
}

.search-box input {
    background: #016a7f7c;;
    box-shadow: 0px 1px 1px 1px #F8F5F5;
    border-radius: 0px 0px 8px 8px ;
    z-index: 3;
    font-size: 24px;
    color: #F8F5F5;
    line-height: 42px;
    border: 0;
    padding: 12px 48px;
}

.search-box input::placeholder{
    color: #F8F5F5;
}

.nav-btn-container {
    display: flex;
    position: relative;
    padding: 0 20px;
}

.nav-btn-container img {
    position: absolute;
    top: -14px;
}

.nav-btn-container .close-btn{
    opacity: 0;
    pointer-events: none;
    transform: translateY(-8px);
    transition: 300ms;
}

.nav-btn-container .search-btn{
    pointer-events: auto;
    transition: 300ms;
}

.nav-btn-container.active .search-btn{
    opacity: 0;
    pointer-events: none;
    transform: translateY(-8px);
}

.nav-btn-container.active .close-btn{
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

/* Header */

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-top: 75px;
    height: 600px;
}

header h1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 144px;
    color: #000000;
}

.top{
    color: #016B7F;
}

header p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}

header .intro-content {
    width: 60%;
}

header .intro-image {
    width: 40%;
}

header .intro-image img {
    width: 100%;
    max-height: 600px;
}

.exp {
    text-align: center;
    font-family: "Poppins";
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 84px;
    color: #000000;
}

/* Places */

.cards{
    width: 1200px;
    height: 1250px;
}

/* Social Icons */

.logob{
    margin: 30 auto;
}

.social-icons {
    margin:40;
    display: block;
}

.social-icons a {
    margin-right: 30px;
}

.social-icons img:hover {
    transform: translateY(-5px);
}

/* Footer */

footer {
    font-family: "Poppins";
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    padding: 0.5em;
    text-align: center;
    position:static;
    bottom: 0;
    left: 0;
    right: 0;
}

.bm-icon{
    color:#016B7F;
    font-size: 30px;
    cursor: pointer;
}

.hidden {
    display: none;
}
