@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,700);
*:focus {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  background: rgba(1, 106, 127, 0.253);
  font-size: 16px;
  color: #222;
  font-family: 'Poppins';
  font-weight: 300;
}

#login-box {
  position: relative;
  margin: 9% auto;
  width: 900px;
  height: 500px;
  background: #FFF;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.left {
  position: absolute;
  margin: 0;
  box-sizing: border-box;
  padding: 25px 40px 0px 50px;
  width: 500px;
  height: 500px;
}

#logo > img{
    width: 150px;
    size: 35px;
}

h1 {
  
  margin: 0;
  margin-top: 5%;
  margin-left: 14%;
  size: 50px;
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 700;
  padding-left: 20%;
}

span{
  display:block;
  width: 18%;
  height: 1px;
  background-color: rgba(3, 92, 114, 1);

  margin-left: 41%;
}
p{
    font-family: 'Poppins';
    size: 24px;
    font-weight: 500;
    font-style: normal;
    line-height: 36px;
    margin-left: 11%;

}
a{
    color: rgba(1, 107, 127, 1);
    font-weight: bold;
    
}
a:link {text-decoration: none;}
a:visited{text-decoration: none;}

input[type="text"],
input[type="password"] {
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  margin-left: 11%;
  padding: 4px;
  width: 320px;
  height: 32px;
  border: none;
  color: rgba(1, 107, 127, 1);
  border-bottom: 1px solid #AAA;
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  transition: 0.08s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-bottom: 2px solid rgba(1, 107, 127, 1);
  color: rgb(41, 104, 139);
  transition: 0.1s ease;
}

input[type="submit"] {
  margin-top: 5%;
  margin-left: 23%;
  width: 220px;
  height: 32px;
  background: rgba(1, 107, 127, 1);
  border: none;
  border-radius: 100px;
  color: #FFF;
  font-family: 'Poppins';
  font-style: italic;
  font-weight: bold;
  font-size: 90%;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

input[type="submit"]:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

.or {
  position: absolute;
  top: 180px;
  left: 380px;
  width: 40px;
  height: 40px;
  background: #DDD;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  line-height: 40px;
  text-align: center;
}

.right {
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  padding: 80px;
  width: 400px;
  height: 500px;
  background: url('../Pictures/registar.jpg');
  background-size: cover;
  background-position: center;
  transform: scale();
  border-radius: 0 2px 2px 0;
  box-shadow: 0 0 12px 0;
}

.right .loginwith {
  display: block;
  margin-bottom: 40px;
  font-size: 28px;
  color: #FFF;
  text-align: center;
}


button.social-signin {
  margin-bottom: 20px;
  width: 220px;
  height: 36px;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Poppins';
  font-weight: 500;
  transition: 0.2s ease;
  cursor: pointer;
}

button.social-signin:hover,
button.social-signin:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

button.social-signin:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

button.social-signin.facebook {
  background: #32508E;
}

button.social-signin.twitter {
  background: #55ACEE;
}

button.social-signin.google {
  background: #DD4B39;
}



.error{
  font-family: 'Poppins';
  font-weight: 600;
  color: rgb(255, 0, 0);
  margin-left: 11%;
}